<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&display=swap" rel="stylesheet">
</head>

<body>

    <div class="cont">
        <div class="slide show" style="background-image: url('../bg/bg1.jpg');"></div>
        <div class="slide " style="background-image: url('../bg/bg2.jpg');"></div>
        <div class="slide " style="background-image: url('../bg/bg3.jpg');"></div>
    </div>
    <div class="content">
        <div class="header"> Welcome to Restful Blog App</div>
        <a href="blogs/" class="btn btn-info btn-lg"><i class="envelope  icon"></i>

            View Blogs</a>
    </div>
    <script src="/stylesheets/landing.js"></script>
</body>

</html>