body {
    background: #3d3d541f;
}

i.icon {
    font-size: 1.4em;
}

.container.main {
    margin-top: 6em;
}

#delete_form {
    display: inline;
}

#edit_delete {
    margin-top: 10px;
}

#main_header {
    font-family: 'Comfortaa', cursive;
}